@model Slip

@{
    ViewData["Title"] = "Reserve a Slip";
}
<div class="card shadow-lg border-0 mt-4">
    <div class="card-header bg-gradient text-black text-center py-4" style="background: linear-gradient(45deg, #007bff, #6610f2);">
        <h2 class="py-2">Reserve A Slip</h2>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between py-2">
        <h4 class="text-muted">Slip Details</h4>
            @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
            {
                <div class="d-flex justify-content-between">
                    <div class="validation-summary-errors">
                            @foreach (var error in ViewData.ModelState[""].Errors)
                            {
                                <span class="alert alert-info">@error.ErrorMessage</span>
                            }
                    </div>
                </div>
            }
        </div>
        <div class="row border rounded-3 p-3 mb-4 mt-3" style="background: #f9f9f9;">
            <div class="col-md-4">
                <p><strong>Slip Slot:</strong> @Model.ID</p>
            </div>
            <div class="col-md-4">
                <p><strong>Width:</strong> @Model.Width ft</p>
            </div>
            <div class="col-md-4">
                <p><strong>Length:</strong> @Model.Length ft</p>
            </div>

        </div>

    </div>
    <div class="card-footer text-center d-flex justify-content-center gap-4">
       
        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
        {
            <button type="submit" class="btn btn-primary" disabled>Reserve</button>
            <a asp-action="Index" asp-controller="Dock" class="btn btn-outline-warning">Go back</a>
        }
        else
        {
            <form asp-action="Reserve" method="post">
                <input type="hidden" name="slipId" value="@Model.ID" />
                <button type="submit" class="btn btn-outline-primary">Reserve</button>
            </form>
        }
    </div>
</div>

