@model Marina.Models.DockViewModel

<table class="table caption-top">
    <caption>@Model.SelectedDock.Name</caption>
    <thead>
        <tr>
            <th scope="col">Slip Number</th>
            <th scope="col">Width</th>
            <th scope="col">Length</th>
            <th scope="col">Availability</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var slip in Model.PaginatedSlips)
        {
            <tr>
                <td>@slip.ID</td>
                <td>@slip.Width</td>
                <td>@slip.Length</td>
                <td>
                    <div class="@(slip.IsAvailable ? "text-success" : "text-danger")">
                        @(slip.IsAvailable ? "Available" : "Reserved")
                    </div>
                </td>
                <td><a asp-action="Reserve" asp-route-id="@slip.ID" class="btn btn-primary">Reserve</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between">
    <div>
        Showing page @Model.PaginatedSlips.PageIndex of @Model.PaginatedSlips.TotalPages
    </div>
    <div>
        @if (Model.PaginatedSlips.HasPreviousPage)
        {
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="loadPage(@(Model.PaginatedSlips.PageIndex - 1))">Previous</a>
        }

        @if (Model.PaginatedSlips.HasNextPage)
        {
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="loadPage(@(Model.PaginatedSlips.PageIndex + 1))">Next</a>
        }
    </div>
</div>
